body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center ;
    background-color: #1e2328;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: black;
    border-radius: 12px;
}

.input, 
button{
    background-color: #3b3f46;
    color: white;
}

button{
    width: 50px;
    padding: 12px;
    border-radius: 32px;
    border: none;
}

.input{
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 40px;
    font-size: 24px;
}

.line{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.large{
    flex: 2;
}

.operator{
    background-color: #FF9913;
}

.clear{
    background-color: #BEBEBE;
    color: black;
}

.heading{
    color: white;
    margin: 2px;
}
